# MM/.dockerignore
# ─────────────────────────────────────────────────────────────────────────────
# Назначение: не тянуть лишнее в образ
# ─────────────────────────────────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.git
.gitignore
.vscode
.idea
media/
staticfiles/
*.log
